*.js linguist-detectable=true 
*.typescript linguist-detectable=false  
*.java linguist-detectable=false  
*.ruby linguist-detectable=false  
*.Objective-C linguist-detectable=false
*.Objective-C++ linguist-detectable=false
